// TabBar 组件样式
@use '../../styles/index.scss' as *;

.svton-tab-bar {
  background: $color-bg-card;
  box-shadow: $shadow-xs;
  display: flex;
  flex-direction: column;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: $z-index-sticky;
  }

  &__list {
    display: flex;
    padding: $spacing-sm 0 $spacing-xs;
  }

  &__item {
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: opacity $transition-fast;

    &.disabled {
      @include disabled-state;
    }

    &:not(.disabled):active {
      opacity: 0.7;
    }
  }

  &__text {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    color: $color-text-secondary;
    line-height: $line-height-small;
    transition: color $transition-base;
  }

  &__item.active &__text {
    color: $color-primary;
  }

  &__indicator-wrapper {
    width: 100%;
    height: 6rpx;
    padding-bottom: $spacing-sm;
    position: relative;
  }

  &__indicator {
    height: 6rpx;
    background: $color-primary;
    border-radius: $radius-sm;
    transition: left $transition-base $ease-smooth;
    position: absolute;
    top: 0;
  }
}
