/**
 * @svton/taro-ui - 样式入口
 * 
 * 使用方式：
 * 1. 在组件中导入：@use '../../styles/index.scss' as *;
 * 2. 在项目中自定义主题：
 *    @use '@svton/taro-ui/src/styles/variables.scss' with ($color-primary: #ff6b6b);
 *    @use '@svton/taro-ui/src/styles/index.scss' as *;
 */

// 转发主题变量和混入，使其可被外部使用
@forward './variables.scss';
@forward './mixins.scss';

// 同时在当前作用域导入，供内部使用
@use './variables.scss' as *;
@use './mixins.scss' as *;
