@import '../../styles/variables.scss';

.svton-collapse {
  background-color: $color-bg-card;

  &--border {
    .svton-collapse-item {
      border-bottom: 1rpx solid $color-border-light;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.svton-collapse-item {
  &__header {
    display: flex;
    align-items: center;
    padding: $spacing-md $padding-page;
    background-color: $color-bg-card;

    &:active {
      background-color: $color-bg-section;
    }
  }

  &__title {
    flex: 1;
    font-size: $font-size-lg;
    color: $color-text-primary;
    line-height: $line-height-title;
  }

  &__value {
    margin-left: $spacing-md;
    font-size: $font-size-base;
    color: $color-text-secondary;
  }

  &__arrow {
    margin-left: $spacing-sm;
    color: $color-text-placeholder;
    font-size: $font-size-sm;
    transition: transform $transition-fast $ease-smooth;

    &--expanded {
      transform: rotate(90deg);
    }
  }

  &__content {
    overflow: hidden;
    transition: height $transition-base $ease-smooth;
  }

  &__body {
    padding: $spacing-md $padding-page;
    font-size: $font-size-base;
    color: $color-text-secondary;
    line-height: $line-height-base;
    background-color: $color-bg-section;
  }

  // 禁用
  &--disabled {
    .svton-collapse-item__header {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
