// List 组件样式
.svton-list {
  width: 100%;
  flex: 1;

  &__header,
  &__footer {
    padding: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__item {
    // 由外部控制样式
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    padding: 48px 16px;
  }

  &__empty-text {
    font-size: 14px;
    color: #8A8A8A;
  }

  &__tip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
    font-size: 14px;
    color: #8A8A8A;

    &--loading {
      // 可以添加加载动画
    }

    &--no-more {
      padding: 48px 16px;
    }
  }
}
