@use '../../styles/index.scss' as *;

.custom-nav-bar {
  width: 100%;
  flex-shrink: 0;
  z-index: $z-index-sticky;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-bar-content {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-border-light;
    box-sizing: border-box;

    .nav-left {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      padding-left: $spacing-sm;

      .nav-btn {
        width: 88px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;

        // 按钮圆形背景（半透明白色，确保始终可见）
        &::before {
          content: '';
          position: absolute;
          width: 64px;
          height: 64px;
          background: rgba(255, 255, 255, 0.85);
          border-radius: 50%;
          z-index: -1;
        }

        &:active::before {
          background: rgba(255, 255, 255, 0.95);
        }

        .nav-icon {
          font-size: 40px;
          font-weight: $font-weight-regular;
          line-height: 1;

          &.back-icon {
            font-size: 52px;
            font-weight: $font-weight-light;
            transform: translateY(-2px);
          }

          &.close-icon {
            font-size: 36px;
            font-weight: $font-weight-light;
          }
        }

        .nav-icon-img {
          width: 44px;
          height: 44px;

          &.back-icon-img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }

    .nav-title {
      flex: 1;
      min-width: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 $spacing-md;

      .title-text {
        @include heading(2);
        @include text-ellipsis;
        max-width: 100%;
      }
    }

    .nav-right {
      position: absolute;
      right: 100px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding-right: $spacing-sm;
    }
  }
}
