@import '../../styles/variables.scss';

.svton-action-sheet {
  background-color: $color-bg-section;

  &__header {
    padding: $spacing-lg $spacing-lg $spacing-md;
    text-align: center;
    background-color: $color-bg-card;
    border-bottom: 1rpx solid $color-border-light;
  }

  &__title {
    display: block;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    color: $color-text-primary;
    line-height: $line-height-title;
  }

  &__desc {
    display: block;
    margin-top: $spacing-xs;
    font-size: $font-size-sm;
    color: $color-text-tertiary;
    line-height: $line-height-base;
  }

  &__content {
    background-color: $color-bg-card;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 112rpx;
    padding: $spacing-md $spacing-lg;
    background-color: $color-bg-card;
    border-bottom: 1rpx solid $color-border-light;

    &:last-child {
      border-bottom: none;
    }

    &:active {
      background-color: $color-bg-section;
    }

    &--danger {
      .svton-action-sheet__item-text {
        color: $color-error;
      }
    }

    &--disabled {
      pointer-events: none;

      .svton-action-sheet__item-text {
        color: $color-text-disabled;
      }

      .svton-action-sheet__item-desc {
        color: $color-text-disabled;
      }
    }
  }

  &__item-text {
    font-size: $font-size-lg;
    color: $color-text-primary;
    line-height: $line-height-title;
  }

  &__item-desc {
    margin-top: $spacing-xs;
    font-size: $font-size-sm;
    color: $color-text-tertiary;
    line-height: $line-height-small;
  }

  &__gap {
    height: 16rpx;
    background-color: $color-bg-section;
  }

  &__cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112rpx;
    background-color: $color-bg-card;
    font-size: $font-size-lg;
    color: $color-text-secondary;

    &:active {
      background-color: $color-bg-section;
    }
  }
}
