@import '../../styles/variables.scss';

.svton-steps {
  display: flex;
  width: 100%;
  padding: $spacing-md 0;

  // 水平方向
  &--horizontal {
    flex-direction: row;

    .svton-step {
      flex: 1;
      flex-direction: column;
      align-items: center;
    }

    .svton-step__line {
      position: absolute;
      top: 24rpx;
      left: 50%;
      width: 100%;
      height: 2rpx;
      background-color: $color-border;

      &--active {
        background-color: $color-primary;
      }
    }

    .svton-step:last-child .svton-step__line {
      display: none;
    }
  }

  // 垂直方向
  &--vertical {
    flex-direction: column;
    padding: $spacing-md $padding-page;

    .svton-step {
      flex-direction: row;
      min-height: 120rpx;
    }

    .svton-step__line {
      position: absolute;
      top: 48rpx;
      left: 24rpx;
      width: 2rpx;
      height: calc(100% - 48rpx);
      background-color: $color-border;

      &--active {
        background-color: $color-primary;
      }
    }

    .svton-step:last-child .svton-step__line {
      display: none;
    }

    .svton-step__content {
      flex: 1;
      padding-left: $spacing-md;
      padding-bottom: $spacing-md;
    }
  }
}

.svton-step {
  position: relative;
  display: flex;

  &__icon {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48rpx;
    height: 48rpx;
    border-radius: 50%;
    background-color: $color-bg-card;
    border: 2rpx solid $color-border;
    font-size: $font-size-sm;
    color: $color-text-tertiary;

    &--active {
      border-color: $color-primary;
      background-color: $color-primary;
      color: $color-text-inverse;
    }

    &--finish {
      border-color: $color-primary;
      color: $color-primary;
    }

    &--error {
      border-color: $color-error;
      background-color: $color-error;
      color: $color-text-inverse;
    }
  }

  &__content {
    text-align: center;
  }

  &__title {
    margin-top: $spacing-sm;
    font-size: $font-size-base;
    color: $color-text-secondary;
    line-height: $line-height-title;

    &--active {
      color: $color-primary;
      font-weight: $font-weight-medium;
    }

    &--finish {
      color: $color-text-primary;
    }

    &--error {
      color: $color-error;
    }
  }

  &__desc {
    margin-top: $spacing-xs;
    font-size: $font-size-sm;
    color: $color-text-tertiary;
    line-height: $line-height-small;
  }
}
